h2 {
    color: #4a4a4a;
    font-weight: 700;
}

.course div h3 {
    background-color: #d8d8d8;
    padding: 16px 0 24px 16px;
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 600;
}

.info_img_desc {
    padding-left: 16px;
    padding-top: 16px;
}

.info_img_desc h3 {
    color: #4a4a4a;
    font-size: 1.5rem;
    font-weight: 600;
}

.info_img_desc p {
    color: #4a4a4a;
    font-size: 1.1rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

.info_img_desc a {
    color: #458de2;
    font-size: 1.1rem;
    margin-top: 1;
}
